:root{
    --font: 'Josefin Sans', sans-serif;
    --DesaturatedRed: #C79B9C;
    --SoftRed: hsl(0, 93%, 68%);
    --textColor: #C6A7AC;
}
*{
    margin: 0;
    padding: 0;
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body{
    height: 100vh;
    font-family: var(--font);
    font-size: 1.6rem;
    background-image: url(../images/bg-pattern-desktop.svg);
    /*Flex padre*/
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-- Generales --*/
h1{
    font-size: 6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
}
h1 span{
    color: var(--DesaturatedRed);
    font-weight: 300;
}
p{
    color: var(--textColor);
    font-size: 1.8rem;
    line-height: 1.5;
}
img{
    max-width: 100%;
}
/*-- --*/
.container{
    /*-- Flex heredado--*/
    flex-basis: auto;
    height: 100%;
    /*--Flex padre--*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-image{
    flex-basis: 50%;
    height: 100%;
}
.hero-image img{
    height: 100%;
}
.contenido{
    width: 50%;
    height: 90%;
    /*--Flex padre--*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.title, .text, form{
    margin-bottom: 2rem;
}